*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  

}
.header{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa{
  display: none;
}

@media(max-width: 768px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  nav-links ul{
    padding: 30px;
  }
}


/*-----About-us.......*/
.about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.about-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.about-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}


/*---------FACILITIES-----------*/
.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img{
  width: 100%;
  border-radius: 10px;
}
.facilities-col p{
  padding: 0;
}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/*---------Call to action------------*/
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/contact.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
@media(max-width:700px){
  .cta h1{
    font-size: 24px;
  }
}


/*---------footer------------*/

footer{
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
}
footer .social_icons,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icons li,
footer .menu li{
  list-style: none;
}
footer .social_icons li a{
  font-size: 1cm;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icons li a:hover{
  transform: translateY(-10px);
}

footer .menu li a{
  font-size: 0.5cm;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1cm;
}
footer .wave
{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:  url(images/wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
@media(max-width:700px)
{
  
  footer p{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.7cm;
}
.footer .wave{
  width: 100%;
  
}
footer .social_icons li a{
  font-size: 1cm;
}
footer .menu li a{
  font-size: 0.8cm;
  color: #fff;
  margin: 0 10px;
  justify-content: center;
  
}
}

/*--------Contact-us page---------------*/
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contactus.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1{
  margin: 30px;
}

/*-------blog-content-------*/
.blog-content{
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.blog-left{
  flex-basis: 65%;
}
.blog-left img{
  width: 100%;
}
.blog-left h2{
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}
.blog-left h4, li, ul{
  color: #999;
  padding: 0;
}
.blog-right{
  flex-basis: 32%;
}
.blog-right h3{
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 20px;
}
.blog-right div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

/*----------Galary---------*/
.galary-area{
  padding: 60px 0;

}
.galary{
  margin-top:40px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.single-galary{
  width: 25%;
}
.single-galary img{
  width: 100%;
  border: 1px solid #ddd;
  padding: 3px;
  margin: 15px;
}
.service-area{
  background-color: #f4f4f4;
  padding: 60px 0;
}
.section-title{
  text-align: center;
  margin-bottom: 25px;

}
.section-title h4{
  font-size: 40px;
  
}
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.single-service{
  width: 32%;
  background-color: #fff;
  
  
}
.single-service img{
  width: 100%;
}
.single-service h4{
  text-align: center;
  background-color: teal;
  color: #fff;
  font-size: 21px;
  padding: 10px;
}
.single-service a{
  background-color: tomato;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  text-transform: capitalize;
  transition: .3s;
  text-decoration: none;


}
.single-service a:hover{
  background-color: teal;
}

@media(max-width:700px){
  .services{
    flex-direction: column;
  }
  .single-service{
    width: 100%;
    margin-top: 30px;
  }
}


/*------------Contact-Us--------------*/
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe{
  width: 100%;
}
.section-title{
  font-size: 40px;
}
.contact-area{
  background-color: #f4f4f4;
  padding: 60px 0;
}
.contact{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contact-form{
  width: 60%;
  margin-right: 30px;
  margin-top: 40px;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;

}
.contact-form input[type="submit"]{
  background-color: tomato;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: 500;

}
.single-contact{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.single-contact i{
  background-color: tomato;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;

}  
.single-contact  h4{
  text-transform: capitalize;
  font-size: 20px;
}   
.single-contact  h4 span{
  display: block;
  font-weight: normal;
  font-size: 16px;
}
@media(max-width:700px){
  .contact-form{
    width: 100%;
    margin-right: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: center;
  }
} 

/*---------Galary section---------*/

.galary-section{
  width: 100%;
}
.galary-section .galary-wrap{
  padding-top: 10px;
}
.galary-section .galary-wrap .galary-images{
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;

}
.galary-section .galary-wrap .galary-images .galary{
  width: 100%;
  position: relative;
}
.galary-section .galary-wrap .galary-images .galary .image-section{
  width: 100%;
}
.galary-section .galary-wrap .galary-images .galary .image-section img{
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  display: block;
}
.galary-section .galary-wrap .galary-images .galary .caption{
  width:90% ;
  height: 85%;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background:rgba(0,0,0,0.5) ;
  color: #fff;
  opacity: 0;
  transition: opacity 0.30s;
}
.galary-section .galary-wrap .galary-images .galary .caption:hover{
  opacity: 1;
}
.galary-section .galary-wrap .galary-images .galary .caption p{
  font-size: 13px;
}
@media screen and (max-width:992px){
  .galary-section .galary-wrap .galary-images {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  } 
}

@media screen and (max-width:700px){
  .galary-section .galary-wrap .galary-images {
    grid-template-columns: 1fr;
    justify-content: center;
  } 
}

  /*---------Our facilities---------*/
  .blog-map{
    width: 80%;
    margin: auto;
    padding: 60px 0;
    
    
  }
  .map-left{
    flex-basis: 47%;
  }
  .map-left iframe{
    width: 100%;
  }
  .map-left h2{
    background-color: teal;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;

  }
  .map-left p{
    color: #999;
    padding: 0;
    margin: 5px 0;
  }
  .map-right{
    flex-basis: 47%;
  }
  .map-right iframe{
    width: 100%;
  }

.map-right h2{
  background-color: teal;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
}
.map-right p{
  color: #999;
    padding: 0;
    margin: 5px 0;
    
}